/*CONFIGURACION GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none; /*Borra Viñetas*/
    
}

a{
    text-decoration: none;/*Elimina el subrayado de los enlaces*/
    color: aliceblue; /*Cambia de color los enlaces*/
}

/*LA MAGIA DEL CSS GRID BODY*/

body {
    height: 100vh;/*Ocupa toda la pantalla*/
    /*1. Activamos grid*/
    display: grid; 

    /*2. Definimos las columnas 
    Nav de 250px y el main el resto 1fr */
    grid-template-columns: 250px 1fr;

    /*3. Definimos las filas(Header 60px, Main flexible 1f, footer de 60px)*/
    grid-template-rows: 60px 1fr 60px;

    /*Dibujamos el mapa TETRIS*/
    grid-template-areas: 
                        "header header"
                        "nav main"
                        "footer footer";

    background-color: rgb(29, 28, 28);


}

/*ASIGNAMOS CADA CAJA A SU ZONA DEL MAPA*/
header{

    grid-area: header; /*Le decimos que vaya a la zona header*/
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
}

nav{
    grid-area: nav;
    background-color: black;
    color: white;
    padding: 20px;
}

main{
 
    grid-area: main;
    background-color: #353333;
    padding: 30px;
    
}

footer{

    grid-area: footer; /*Le decimos que vaya a la zona header*/
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: grid;
    /* 3 COLUMNAS DEL MISMMO TAMAÑO */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /*Es la separacion*/
    max-width: 1000px;
    margin: 0 auto;
}

.thumb {
    /* Obliga a que todas las imagenes tengan el mismo tamaño */
    background-color: aliceblue;
    border-radius: 12px;
    padding:30px;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 3 COLUMNAS DEL MISMMO TAMAÑO */
    grid-template-columns: repeat(3, 1fr);

}

.thumb1 {

    border-radius:20px;
    padding:10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thumb1 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.thumb img {
    height: auto;
    max-width: 100%;
    box-shadow: 0 10px 20px rgba(0 , 0, 0, 0.5); 
    
}

.thumb:hover {
    transform: scale(1.05);/*Efecto zoom*/
    box-shadow: 0 0 15px rgba (255, 255, 255, 0.2);
}

h2{
    text-align: center;
    color: aliceblue;
    padding: 20px;
}
   
p{
    padding: 15px;
    color: black;
    text-align: center;
    font-size: large;
}

.piepag {
    color: aliceblue;
}

nav li{
    margin-bottom: 15px;
}

body > nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
}

body > nav a:hover{
    background: #353333;
    border-radius: 3px;
    transform: scale(1.05);/*Efecto zoom*/
}

.layout-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
}

.marquee {
    overflow: hidden; /* oculta lo que se sale */
    white-space: nowrap;
    background-color: black;
}

.marquee h1 {
    display: inline-block;
    padding-left: 100%; /* empieza fuera de pantalla */
    animation: moverTexto 10s linear infinite;
}

/* ANIMACIÓN */
@keyframes moverTexto {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {

    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;

        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }

    body > nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav li {
        margin-bottom: 0;
    }

    body > nav a {
        background: #353333;
        padding: 8px;
        border-radius: 5px;
        font-size: 0.9rem;
    }

    main {
        padding: 15px;
    }
    .layout-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }


}
@media (max-width: 480px) {

    h1 {
        font-size: 1.2rem;
        text-align: center;
    }

    h2 {
        font-size: 1.1rem;
    }

    .thumb1 img {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}