/* 1. reseteo Basico */
/* El asterisco (*) significa qque aplica a todo */

*{
margin: 0;
padding: 0;
/* Hace que el tamaño de la caja sea predecible */
box-sizing:border-box ;
}

body{
    background-color:  rgb(237, 230, 237);
    font-family: Arial, Helvetica, sans-serif;
    
   

}

/*2. Pintado de zonas principales */

header{
    /*  */
   
    background-color: rgb(240, 233, 240);
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    /* PADDING: Espaio hacia adentro de la caja */
    padding: 20px;
}

footer{
    background-color: black;
    color: rgb(240, 237, 237);
    text-align: center;
    padding: 15px;
    /*MARGIN:Empuja hacia abajo la caja  */
    margin-top: 20px;
    
}

/* 3. El modelo de la caja  */

.caja{
    background-color: azure;
    color: black;
    font-size: 24px;
    /* font-weight: es igual a negrita */
    font-weight: bold;

    padding: 15px;
    border: 3px solid black; /*Formato del borde de caja*/
    margin: 15px; /*Separa esta caja de otras*/
    border-radius: 10px; /*Redondeo de las esquinas*/
    border-style: dashed;
    width: 180px;

    display: flex;
    justify-content: space-around;
    align-items: center;  


}

.anuncio{
    background-color: rgb(238, 236, 238);
    color: black    ;
    padding: 40px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    font-family: cursive;
    font-size:30px;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-cielo-pastel_23-2148900229.jpg?size=626&ext=jpg);
    
}

/* La magia de flexbox (Poniendo en orden) */

nav{
    background-color: rgb(0, 0, 0); 
    color: white;
    padding: 15px;
    /* Activar flexbox */
    display: flex;
    justify-content: space-around;
    align-items: center; 
    /*background-image: url(https://i.pinimg.com/736x/15/80/96/1580968fa5e4a0effba1b0de54527823.jpg);*/
}

/* Efecto hover: cambia de color al pasar el cursor por encima */
.link:hover{

    color: white;
    cursor:pointer;
}

.caja:hover{

    background-color: rgb(194, 111, 162);
    cursor:pointer;
}